<div class="faq">
  <h1>Why do we need your email address?</h1>
  <p>Your email address will never leave our mailbox, hosted by GMail, which is used exclusively for the Dogs of Harrison Park calendar (dogsofharrisonpark@gmail.com). We will use it to send you a maximum of three emails (manually, not automated).</p> 
  <ul>
    <li>One email may be sent after you upload your pictures, if there are any images that aren't suitable for the calendar, inviting you to reupload, or figure out other means of getting images to us.</li>
    <li>One email will be sent after you upload your dog pictures, and they have been accepted, with a link inviting you to make an additional donation of £5 to add your dog's birthday to the calendar (completely optional, there is no obligation to do so)</li>
    <li>One email will be sent after the calendars are printed and delivered, with information on where they can be purchased.</li>
  </ul>
  <p>Your email address will be kept until December 31st, at which point the mailbox will be purged (unless you have an ongoing email conversation with us).</p>
  <h1>Disclaimer</h1>
  <p>While we will make every attempt to include at least one picture of every dog we receive, high interest in the calendar may mean that this is not possible. If it is the case that not all dogs can be included, we will apply the following criteria to select images:</p>
  <ul>
    <li>Dogs that have won the auction to be featured for a given month will also have at least one other image in the calendar.</li>
    <li>Dogs that have donated £5 to include their birthday will be guaranteed at least one image on their birth month.</li>
    <li>Dogs that have previously featured in either the 2019 or 2018 calendar will be included as a priority.</li>
  </ul>
  <p>All other dogs will have their images added based on the quality of the pictures submitted. We have not had to turn away any dogs in the past, and hope not to do so this year either!</p>
  <p>We will retain one image from each upload (typically the clearest image of a dog) along with the dog's name and how many images were included in the calendar. The purpose of this is to be able to cross-reference dogs for the inclusion criteria for future calendars.</p>
  <p>All other images and personal information will be deleted, including the email address linked to the dog, after the calendars are finalised and emails have been sent informing owners that the calendars are available for purchase. This deletion will happen no later than December 31st, 2019.</p>
</div>