<div class="about"> 
  <h1>About Us</h1>
  <h2>Danny Schnitzler</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare mi eu scelerisque fermentum. Sed eu neque eget eros finibus hendrerit. Quisque dictum sodales justo eget porta. Aliquam bibendum, sapien id ullamcorper efficitur, ipsum enim semper neque, et faucibus ipsum ex at diam. Nulla mollis dolor nulla, a auctor mauris semper eu. Vivamus ornare eget risus vitae accumsan. Donec elementum dui dolor, in tempor justo viverra eget. Aenean semper finibus nulla id venenatis.</p>
  <h1>Previous Calendars</h1>
  <p>In previous years, calendar images have been collected by word-of-mouth, and printed calendars distributed in largely the same manner. This year, we're trying to streamline this process and make it easier for people to get images to us, and find out more about the calendar, rather than relying on bumping into us in the park.</p>
  <p>The 2018 calendar raised £480 for the Dog's Trust.</p>
  <p>The 2019 calendar raised £500 for the Edinburgh Dog and Cat Home.</p>
  <p>Our target for the 2020 calendar is to raise £750 for the Edinburgh Dog and Cat Home.</p>
</div>