<div class="uploader">
  <p>Please enter your DOG'S name (not your own) when prompted after the images have been uploaded!</p>
  <iframe class="uploader-window" src="https://driveuploader.com/upload/QMEZaOVxwK/embed/"></iframe>
</div>
<div class="getting-involved">
  <h1>Getting Involved</h1>
  <p>The most important way to get involved is to upload pictures of your dog in or around Harrison Park! Here are some tips for an ideal upload:</p>
  <ul>
    <li>Provide three to six high-resolution and focused images. Clearer images will be easier to fit into the calendar.</li>
    <li>Ensure all images have been taken in or around Harrison Park (this is not mandatory, but priority will be given to "park-themed" pictures!)</li>
    <li>Pictures that include your dog(s) playing with other dogs in the park are highly encouraged!</li>
    <li>Where possible, do not include humans in the pictures (especially not faces).</li>
  </ul>
  <p>This year, we will also be including two new initiatives to raise money for the Edinburgh Dog and Cat Home:</p>
  <h2>Doggy Birthdays</h2>
  <p>A donation of £5 can be made to include your dog's birthday in the calendar. The design is not yet finalised, but at the minimum this will be a text label on the date, e.g. "Sid's birthday!", although we are hoping to also include a picture of the dog if possible.</p>
  <h2>Featured "Dog of the Month"</h2>  
  <p>We will be running an ongoing "silent auction" for owners to bid for their dog(s) to be a "featured dog of the month".</p>
  <p>We will be hosting a pub quiz at the Caley Sample Room on Monday, September 2nd, where we will be taking additional bids and in-person birthday donations, and announcing the winners of the silent auction.</p>
</div>
  