.uploader {
    text-align:center;
    font-size: 2em;
}
.uploader-window {
    margin-top: 20px;
    width: 500px;
    height: 400px;
}

.getting-involved {
    padding: 50px;
    margin-top: 5px;
    font-size: 1.5em;
}