<div>
  <p>The following sponsors assist with covering our printing costs, allowing 100% of the calendar sale to go to our chosen charity, the Edinburgh Dog and Cat Home.</p>
  <h1>Our Sponsors</h1>
  <ul>
    <li>Tea & Sympathy</li>
    <li>Pollination</li>
    <li>Edinburgh Critters</li>
    <li>Margiotta</li>
    <li>Caley Sample Room</li>
    <li>Etore's</li>
    <li>The Barbershop</li>
    <li>Craigflower Lettings</li>
    <li>Caledonian Brewery</li>
  </ul>
  <h1>Our Chosen Charity</h1>
  <h2>Edinburgh Dog and Cat Home</h2>
</div>